/* For html content that we are going to render dynamically */

.previewDiv h1 {
    display: block;
    font-size: 1.7em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.previewDiv h2 {
    display: block;
    font-size: 1.4em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.previewDiv h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.previewDiv h4 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.previewDiv h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.previewDiv h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.previewDiv {
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 4px;
}

@media (max-width: 399px) {
    .previewDiv {
        font-size: 0.8rem;
    }
}

@media (min-width: 400px) {
    .previewDiv {
        font-size: 0.9rem;
        font-family: "Baloo 2";
    }
    .previewDiv h1 {
        font-size: 1.3rem;
    }
    .previewDiv h2 {
        font-size: 1.1rem;
    }
    .previewDiv h3 {
        font-size: 0.9rem;
    }
    .previewDiv h4 {
        font-size: 0.7rem;
    }
    .previewDiv h5 {
        font-size: 0.6rem;
    }
    .previewDiv h6 {
        font-size: 0.4rem;
    }
}

@media (min-width: 600px) {
    .previewDiv {
        font-size: 1rem;
    }
    .previewDiv h1 {
        font-size: 1.6rem;
    }
    .previewDiv h2 {
        font-size: 1.4rem;
    }
    .previewDiv h3 {
        font-size: 1.2rem;
    }
    .previewDiv h4 {
        font-size: 1rem;
    }
    .previewDiv h5 {
        font-size: 0.8rem;
    }
    .previewDiv h6 {
        font-size: 0.6rem;
    }
}

@media (min-width: 800px) {
    .previewDiv {
        font-size: 1rem;
    }
    .previewDiv h1 {
        font-size: 1.9rem;
    }
    .previewDiv h2 {
        font-size: 1.7rem;
    }
    .previewDiv h3 {
        font-size: 1.5rem;
    }
    .previewDiv h4 {
        font-size: 1.3rem;
    }
    .previewDiv h5 {
        font-size: 1.1rem;
    }
    .previewDiv h6 {
        font-size: 0.9rem;
    }
}

@media (min-width: 1000px) {
    .previewDiv {
        font-size: 1.1rem;
    }
    .previewDiv h1 {
        font-size: 2.2rem;
    }
    .previewDiv h2 {
        font-size: 1.9rem;
    }
    .previewDiv h3 {
        font-size: 1.7rem;
    }
    .previewDiv h4 {
        font-size: 1.5rem;
    }
    .previewDiv h5 {
        font-size: 1.3rem;
    }
    .previewDiv h6 {
        font-size: 1.1rem;
    }
}
